@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=REM:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    font-family: 'REM', sans-serif;
    background: ghostwhite;
}

h1 {
    color: #070700;
    /* text-shadow: 0px 0px 5px rgba(7, 7, 0, 1); */
}

p {
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

/* 
img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); 
}
*/

a img {
    max-height: 120px;
    max-width: 300px;
    transition: transform .2s;
}

a img:hover {
    transform: scale(1.2);
}

.contatodiv {
    margin-bottom: 10px;
    max-height: 150px;
    width: 100%;
    text-align: center;
}

object {
    min-height: 400px;
    height: 80vh;
}

.webtitulo {
    font-family: 'Caveat', cursive;
    font-size: 5em;
    text-align: center;
    margin-top: 42px;
    min-height: 32px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.topnav {
    text-align: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    min-height: 50px;
    max-width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    ;
}

.topnav a {
    display: inline-block;
    color: #070700;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
}

.topnav a:hover {
    color: indigo;
}

.topnav a.active {
    font-weight: bold;
    /* color: indigo; */
}

.topnav .icon {
    display: none;
}

.topnav .icon i {
    background: ghostwhite;
}

@media screen and (max-width: 600px) {
    .topnav a:not(.active) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
        color: #070700;
        background: ghostwhite;
        font-size: 2em;
    }

    .topnav a {
        float: left;
        background: ghostwhite;
        color: #070700;
        font-size: 2em;
    }

    .webtitulo {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {

    .topnav {
        max-width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        background: ghostwhite;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}